//noinspection CssUnknownTarget
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
$font-main: 'monospace', sans-serif;

$color-white: #F7F7F7;
$color-dark-green: #305F70;
$color-red: #FF6F59;
$color-text: #23272a;
